<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>

        <div class="div-container"> 
            <div class="con-1">
                <img src="https://res.cloudinary.com/dbtkas8kr/image/upload/v1712382146/51899-removebg-preview_esqgiz.png" style="height: 300px;"/>
            </div>
            <div class="con-2">
                
                    <h1> Your suggested crop is <span style="color:#5cb85c;">{{ data }}</span></h1>
            </div>
        </div>
        
    </center>
</body>
</html>






